<h1>Создание вопроса для теста <%=@test.title%></h1>

<%= form_with model: @question, url: "/tests/#{@test.id}/questions" do |form| %>
Введите текст вопроса<br>
<%= form.text_area :body %><br>
<%= form.fields_for :answers do |form| %>
Ответ к вопросу<br>
  <%= form.text_area :body %><br>
<% end %>
<%= form.submit %>
<%end%>