<%= render "shared/errors", resource: resource %>
<div class="card">
  <div class="card-header">
    <h2><%=t(".head")%></h2>
  </div>
  <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.email_field :email, class: "form-control mb-2", placeholder: true %>
        <%= f.text_field :username, class: "form-control mb-2", placeholder: true %>
        <%= f.text_field :first_name, class: "form-control mb-2", placeholder: true %>
        <%= f.text_field :last_name, class: "form-control mb-2", placeholder: true %>
        <div class="input-group">
          <%= f.password_field :password, class: "form-control mb-2", placeholder: true %>
          <div class="input-group-append" style="display:none">
            <span class="input-group-text" style="color:#f44336">Пароли не совпадают</span>
          </div>
        </div>
        <%= f.password_field :password_confirmation, class: "form-control mb-2", placeholder: true %>
        <%= f.submit t(".head"), class: "btn btn-success" %>
      <% end %>
      <%= render "devise/shared/links" %>
  </div>
</div>
