<h1>Ответы к вопросу <%=@question.body%></h1>
<% if show_link(@question) %>
<%= link_to t(".add"), new_admin_question_answer_path(@question)%>
<% end %>
<table>
  <tr>
    <th><%= t(Answer.model_name.human)%></th>
    <th><%= t(Answer.human_attribute_name('correct'))%></th>
    <th colspan="2"><%=t("actions")%></th>
  </tr>
  <%= render @question.answers %>
</table>
<%= link_to t("back"), [:admin, @question.test] %>
