<div class="main-body">
  <div class="row gutters-sm">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img src="https://moonvillageassociation.org/wp-content/uploads/2018/06/default-profile-picture1.jpg" alt="Admin" class="rounded-circle" width="150">
            <div class="mt-3">
              <h4><%=current_user.username%></h4>
              <p class="text-secondary mb-1"><%=current_user.first_name%>
              <%=current_user.last_name%></p>
              <p class="text-muted font-size-sm"><%=current_user.email%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row gutters-sm">
        <div class="col-sm-6 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h6 class="d-flex align-items-center mb-3"><%=t(".trophies")%></h6>
                <% @badges.each do |k, v| %>
                  <div class="mb-2">
                    <img src="<%=v[:image]%>" class="rounded-3" width="50">
                    <span style="color:#d81b60"><%="x#{v[:count]}" if v[:count] > 1%></span>
                    <%=k%>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
