<h1><%=t("questions")%> <%=@test.title%></h1>
<table>
  <tr>
    <th><%=t(Question.model_name.human)%></th>
    <th><%=t(".answers_count")%></th>
    <th colspan="3"><%=t("actions")%></th>
  </tr>
  <%= render @test.questions %>
</table>
<%= link_to t("back"), admin_tests_path %>
