<tr>
  <td><%=test.category.title%></td>
  <td><%=test.title%></td>
  <td><%=test.level%></td>
  <td><%=test.author.username%></td>
  <td><%=test.questions.count%></td>
  <td><%=button_to 'Пройти', start_test_path(test)%></td>
  <td><%=link_to 'Показать', test%> |</td>
  <td><%=link_to 'Новый вопрос', new_test_question_path(test)%></td>
</tr>
