<table class="table">
  <thead>
    <tr>
      <th>
        <%=t(Test.human_attribute_name("category_id"))%>
      </th>
      <th class="sortable-th pointer">
        <%=t(Test.human_attribute_name("title"))%>
        <%=octicon "arrow-up", class: "text-success hide"%>
        <%=octicon "arrow-down", class: "text-success hide"%>
      </th>
      <th><%=t(Test.human_attribute_name("level"))%></th>
      <th><%=t(Test.human_attribute_name("user_id"))%></th>
      <th><%=t(".questquant")%></th>
      <th colspan="2"><%=t("actions")%></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
