<h1>TestGuru</h1>
<table>
  <tr>
    <th><%=t(Test.human_attribute_name("category_id"))%></th>
    <th><%=t(Test.human_attribute_name("title"))%></th>
    <th><%=t(Test.human_attribute_name("level"))%></th>
    <th><%=t(Test.human_attribute_name("user_id"))%></th>
    <th><%=t(".questquant")%></th>
    <th colspan="2"><%=t("actions")%></th>
  </tr>
  <%= render @tests %>
</table>
