<!DOCTYPE html>
<html>
  <head>
    <title>Testguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to t("all_tests"), tests_path %>
    <% if current_user %>
      <%= link_to t("sign_out"), destroy_user_session_path, method: :delete %>
      <div style="float: right"><%=t("entered_as")%> <%=current_user.username%></div>
    <% else %>
      <%= link_to t("devise.sessions.new.head"), new_user_session_path %>
      <%= link_to t("devise.registrations.new.head"), new_user_registration_path %>
    <% end %>
    <%= render "shared/flash" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
